name: CD

concurrency: production

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      version_type:
        type: choice
        required: true
        description: Version
        options:
        - conventional
        - patch
        - minor
        - major

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all tags and branches
      - uses: actions/setup-node@v3
      - uses: fregante/setup-git-user@v1
      - run: npm install
      - run: npm test
      - run: . ./.github/scripts/publish.sh; release ${{ inputs.version_type }}
        if: ${{ inputs.version_type != 'conventional' }}
        shell: bash
      - run: . ./.github/scripts/publish.sh; release
        if: ${{ inputs.version_type == 'conventional' }}
        shell: bash
